@import "material";

body,html {
  height: 100%;
}

body {
  //background-color:#d81b60;
  background-image: url(http://image.noelshack.com/fichiers/2015/12/1427051641-geometry.png);
}

#app {
  overflow:hidden;
}

#content {
  margin-bottom: 40px;
}

.md-bottom-bar.md-fixed {
  position: fixed;
  bottom: 0;
  z-index: 999;
}